html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
    background-color: #e8e3e393;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  /* Estilo do container do formulário de cadastro */
  .cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Estilo do formulário */
  .cadastro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffc2;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0.2px 3px 3px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 250px;
    text-align: center;
  }
  
  /* Estilo do título */
  h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: #000000ba;
    margin-bottom: 3rem;
  }
  
  /* Estilo dos campos de input */
  .cadastro-form input {
    width: 80%;
    padding: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0.5rem 0;
    margin-bottom: 1.8rem;
    border: 1px solid #b7b0b0;
    border-radius: 8px;
    font-size: 0.9rem;
  }
  
  /* Estilo do botão */
  .cadastro-form button {
    width: 80%;
    font-size: 13pt;
    font-weight: 550;
    padding: 0.5rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .cadastro-form button:hover {
    transform: scale(1.05);
  }
  
  /* Estilo da mensagem de login */
  .login-message {
    margin-top: 1.8rem;
    font-family: Arial;
    font-size: 1rem;
    color: #666;
    
  }
  
  .login-message a {
    margin-top: 0.5rem;
    color: #4caf50; 
    text-decoration: none;
    font-family: 'Arial';
  }

  .login-message a:hover {
    transform: scale(1.07);
    font-weight: bold;
  }
  .link-scale {
    display: inline-block; /* necessário para aplicar transform */
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  /* Ao passar o mouse */
  .link-scale:hover {
    transform: scale(1.07);
  }
